extends ../layouts/default

block head
	script(src='/js/modernizr.js')

block js
	script(src='/js/main.js')

block css
	link(href="/styles/style.css", rel="stylesheet")
	link(href="/styles/reset.css", rel="stylesheet")

block content
	nav#cd-vertical-nav
		ul
			li
				a(href="#section1", data-number="1")
					span(class="cd-dot")
					span(class="cd-label")	Summary
			li
				a(href="#section2", data-number="2")
					span(class="cd-dot")
					span(class="cd-label")	Porfolios
			li
				a(href="#section3",data-number="3")
					span(class="cd-dot")
					span(class="cd-label")	Working Experience
			li
				a(href="#contact", data-number="6")
					span(class="cd-dot")
					span(class="cd-label")	Contact


	section(id="section1", class="cd-section")
		.container
			.row 
				h1 Summary
				hr
			.row
				.col-sm-6
					.img-circle.text-center.profile-pic(style="background-image:url('/images/TKN_9872.JPG');width:300px;height:300px;background-size:cover")
				.col-sm-6(style="font-weight:200; color:wheat;font-size: 1.25rem;")
					h5(style="font-weight:250; color:wheat;font-size: 1.5rem;margin-top:20px") My name is <b>Le Duy Khanh</b>, a Full Stack Developer in Singapore
					ul.summary(style="list-style-type:square")
						li I am from Vietnam
						li Graduated Nanyang Technological University  with Second Class Honor
						li Having in hand four years of working experience as software engineer in Singapore
						li Hands-on person who is able to handle different fields,hardware and software, front end and backend
			.row(style="color:white;")
				.col-sm-6
					.skill-title Current Company
					.company
						a(href="http://www.goldenequator.com/")
							img(src="/images/company.png")
				.col-sm-6
					- var skills = [["Html", "Javascript", "Css", "Python", "PHP", "Java", "C#", "C++"],["JQuery", "Bootstrap", "NodeJS", "ReactJS","EmberJS","KeystoneJS"],["Django","Wordpress","Orchard CMS"],["Postgres","MySQL","MongoDB","MSSQL"],["Gulp","Bower","Composer"]]
					.skill-title Technical skills
					ul
						each skill_set in skills
							li 
								each skill in skill_set
									span.badge #{skill}


			.row(style="color:white;")
				.col-sm-6
					.skill-title Social profiles
					.social
						a(href="http://stackoverflow.com/users/1737861/le-duy-khanh",data-toggle="tooltip" title="Stack overflow")
							<i class="fa fa-stack-overflow fa-5" aria-hidden="true"></i>
						a(href="https://github.com/leduykhanh",data-toggle="tooltip" title="Github")
							<i class="fa fa-github fa-5" aria-hidden="true"></i>
						a(href="https://www.linkedin.com/in/le-duy-khanh-62158b44",data-toggle="tooltip" title="Linkedin")
							<i class="fa fa-linkedin fa-5" aria-hidden="true"></i>
				.col-sm-6
					.skill-title Languages
					ul
						li English
						li Vietnamese


	section(id="section2", class="cd-section")
		.container
			.row 
				h1 Porfolios
				hr
			.row
				.col-sm-4
					-var tech_stacks = ["Django", "ReactJS", "Python", "Javascript","Redux"]
					.portfolio(style="background-image:url('/images/afs.png');")
						.portfolio-header(style="background-color: rgba(204, 100, 33, 0.8); ")  
							.name AFS - Asia Fund Space
						.description
							.url 
								a(href="http://asiafundspace.com") asiafundspace.com
							each tech in tech_stacks
								span.badge #{tech}

				.col-sm-4
					-var tech_stacks = ["Django", "ReactJS", "Python", "Javascript"]
					.portfolio(style="background-image:url('/images/waach.png');")
						.portfolio-header 
							.name Waach - video platform
						.description
							.url 
								a(href="waach.com") waach.com
							each tech in tech_stacks
								span.badge #{tech}
				.col-sm-4
					-var tech_stacks = ["Django", "ReactJS", "Python", "Javascript"]
					.portfolio(style="background-image:url('/images/goalsmapper.png');")
						.portfolio-header(style="background-color: rgba(100, 204, 33, 0.8); ") 
							.name Goalsmapper - finacial plan
						.description
							.url 
								a(href="app.goalsmapper.com") app.goalsmapper.com
							each tech in tech_stacks
								span.badge #{tech}
				.col-sm-4
					-var tech_stacks = ["Prestashop", "PHP", "MySQL"]
					.portfolio(style="background-image:url('/images/tutti.png');")
						.portfolio-header(style="background-color: rgba(255, 255, 33, 0.8); ") 
							.name Tutti - online shopping
						.description
							each tech in tech_stacks
								span.badge #{tech}

	section(id="section3", class="cd-section")
		.container
			.row 
				h1 Working Experience
				hr
			.row
				.panel-group
					.panel.panel-default
						.panel-heading
							h4.panel-title
								img(src="/images/gec-logo.png")
								a(data-toggle="collapse",data-target="#gec") Golden Equator Consulting 
								i Aug-2015 to present
						.panel-collapse.collapse.in#gec
							ul.summary(style="list-style-type:circle")
								li Designation : Software Engineer
								li Involved with the entire developing process: sever setup, DNS, loadbalancers, floating IP, and programing. 
								li Developed Waach https://waach.com  
								li Current working on Goalsmapper http://app.goalsmapper.com , Asia Fund Space http://asiafundspace.com/
								li Worked with Digital Ocean, Django framework, ReactJS, Postgres, gulp, Jira… 
					.panel.panel-default
						.panel-heading
							h4.panel-title
								img(src="/images/ppp-logo.png")
								a(data-toggle="collapse",data-target="#ppp") PPP Laser Clinic 
								i Jan-2015 to Aug-2015
						.panel-collapse.collapse#ppp
							ul.summary(style="list-style-type:circle")
								li Designation : Software Engineer
								li Designation: Full-stack developer 
								li Involved with all IT stuffs: hardware installation process, software configuration, network troubleshooting, system programming 
								li Maintained http://ppp.com.sg/ , http://myppp.com , http://thepppshop.com/  ,developed http://www.tryppp.com/  
								li Worked with Odoo – Open ERP framework, Wordpress, Boostrap, jQuery
					.panel.panel-default
						.panel-heading
							h4.panel-title
								img(src="/images/anacle-logo.png")
								a(data-toggle="collapse",data-target="#ana") Anacle Systems Pte Ltd 
								i July-2013 to Dec-2014
						.panel-collapse.collapse#ana
							ul.summary(style="list-style-type:circle")
								li Designation : Software Engineer
								li Design, developing, testing, data migration and deployment of software applications 
								li Applications Support and Database Administration 
								li Project documentation and user training o Worked with C#, MSSQL and Company Framework
					.panel.panel-default
						.panel-heading
							h4.panel-title
								img(src="/images/autodesk-logo.jpg")
								a(data-toggle="collapse",data-target="#autodesk") Autodesk 
								i July-2011 to Feb-2012
						.panel-collapse.collapse#autodesk
							ul.summary(style="list-style-type:circle")
								li Designation : Software Engineer
								li Worked with software kits for scripting languages (Python, BetterBatch) 
								li Managed database system and handled the requests from users 
								li Worked with the company’s  Applications Management Website o Wrote scripts in Python and BetterBatch for special tasks/ requests

	section(id="contact", class="cd-section")
		.container
			.row 
				h1 Contact
				hr
			p
				a
					i(class="fa fa-location-arrow") &nbsp; Bishan street 22,<br /> block 243, #02-276, <br /> Singapore 570243

			p
				a(href="mailto:leejangkoo@gmail.com")
					i(class="fa fa-envelope") &nbsp; leejangkoo@gmail.com
			p
				a(href="tel:+6597798842") 
					i(class="fa fa-skype") &nbsp; leejangkoo
			p 
				a(href="tel:+6597798842") 
					i(class="fa fa-mobile") &nbsp; 97798842
	a(href="/files/Le_Duy_Khanh_Resume.pdf",style="position:fixed;top:50%; background-color:white; color:black; font-weight: 800; padding:5px") 
		i(class="fa fa-file") &nbsp; Download CV
