extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/blog') &larr; back to the blog
			hr
			if !data.post
				h2 Invalid Post.
			else
				header
					h1= data.post.title
					h5 Posted 
						if data.post.publishedDate
							| on #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
						if data.post.categories && data.post.categories.length
							| in 
							each cat, cat_i in data.post.categories
								a(href='/blog/' + cat.key)= cat.name
								if cat_i < data.post.categories.length - 1
									| , 
								else
									|  
						if data.post.author
							| by #{data.post.author.name.first}
				.post
					include ../includes/layout/adsense
					if data.post.image.exists
						.image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
					!= data.post.content.full
					
					//- Comment
						.comments
							h4.mb-1=post.comments.length == 0 ? 'Be the first to reply' : plural(post.comments.length, '* comment', '* comments')
							for comment in post.comments
								if comment.author
									.comment.media
										.pull-left
											img(src=comment.author.photo.exists ? comment.author._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=comment.author.name.full, width=40, height=40).media-object.img-circle
										.media-body
											h6.mt-0
												=comment.author.name.full
												span.text-muted  &middot; #{moment(comment.publishedOn).fromNow()}
											!=comment.content.html
						if user
							//- Reply form
							form(method='post').comment-form.mt-5
								input(type='hidden', name='action', value='create-comment')
								.media
									.pull-left
										img(src=user.photo.exists ? user._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=user.name.full, width=40, height=40).img-responsive.img-circle
									.media-body
										textarea(placeholder='Add your comment...', name='content').form-control
										.mv-1
											button(type='submit').btn.btn-success Submit
