extends ../../layouts/default

mixin bet(bet)
	- var total = bet.firstTeamBets + bet.secondTeamBets + 2
	.row.bet-item
		.col-sm-4 
			.row #{bet.firstTeam.name}
			.row 
				img(width=200 height=200  src=bet.firstTeam.logo)
			.row #{Math.round((bet.firstTeamBets + 1)*100/total)} %
		.col-sm-4 
			.row.expireDate #{bet.expireDate}
			.row #{bet.firstScore} - #{bet.secondScore}
		.col-sm-4 
			.row #{bet.secondTeam.name}
			.row 
				img(width=200 height=200 src=bet.secondTeam.logo)
			.row #{Math.round((bet.secondTeamBets + 1)*100/total)} %

block content
	.container.text-center.top-pad
		h1 Live dota bets
		each bet in data.bets.results
			+bet(bet)